/*.hidden {

    display: none;
}

.show {

    display: flex;
}*/
.dashboard-body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto";
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.login-body {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto";
  gap: 30px;
}

.dashboard-header {
  height: 5%;
  width: 95%;
  margin: 15px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.dashboard-header p {
  padding-left: 15px;
  margin: 0;
  font-size: 16px;
  color: #113366;
}
.dashboard-header svg {
  padding-right: 15px;
  height: 22px;
  width: 22px;
  color: #EE4D2D;
}

.login-header {
  height: 20%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid #afafaf;
}
.login-header img {
  height: 90px;
  width: 180px;
  padding: 0;
  margin-bottom: 10px;
}
.login-header h1 {
  font-size: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #EE4D2D;
  font-weight: 400;
}
.login-header p {
  text-align: center;
  font-size: 16px;
  color: #113366;
  padding: 0;
  margin: 0;
}

.login-main {
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.dashboard-kpi {
  height: 30%;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(163, 163, 163);
}

.dashboard-navigation {
  width: 95%;
  margin-top: 15px;
  display: none;
  flex-direction: column;
  gap: 15px;
}

.dashboard-form {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
}

.div-cabecalho-dashboard {
  background-color: #EE4D2D;
  color: #bdc3c7;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-overlay .div-modal-background {
  height: 70vh;
  width: 85vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.modal-overlay .div-modal-background .div-modal {
  background-color: #fff;
  height: 95%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-overlay .div-modal-background .div-modal .div-close {
  height: 5%;
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal-overlay .div-modal-background .div-modal .div-close img {
  fill: #113366;
}
.modal-overlay .div-modal-background .div-modal .div-title-form {
  height: 10%;
  width: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-overlay .div-modal-background .div-modal .div-title-form h3 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #EE4D2D;
  margin: 5px 0;
}
.modal-overlay .div-modal-background .div-modal .div-title-form h4 {
  padding: 0;
  margin: 0;
  font-size: 11px;
  color: #113366;
  font-weight: 500;
  margin-bottom: 5px;
}
.modal-overlay .div-modal-background .div-modal .form-new {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal-overlay .div-modal-background .div-modal .form-new .div-btn-enviar {
  height: 20%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.hidden {
  display: none;
}

.show {
  display: flex !important;
}

.expand {
  height: 150px !important;
}

.login-form {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.login-form label {
  display: flex;
  align-items: center;
  padding-left: 5px;
  height: 10%;
  font-size: 16px;
  color: #113366;
  margin-top: 10px;
}
.login-form div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15%;
  box-sizing: border-box;
  display: flex;
  border: 1px solid rgb(149, 149, 149);
  border-radius: 5px;
  margin-bottom: 10px;
}
.login-form div svg {
  height: 28px;
  width: 50px;
  color: #EE4D2D;
}
.login-form p {
  color: #0984e3;
  text-align: right;
  padding: 0;
  margin: 5px;
}

.botao-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: #EE4D2D;
  color: #fff;
}
.botao-principal svg {
  height: 22px;
  width: 22px;
  margin-right: 10px;
}

.btn-enviar {
  background-color: #EE4D2D;
  height: 42px;
  width: 100%;
  color: #fff;
  border: none;
}

.div-dashboard-btn-resetar {
  background-color: #EE4D2D;
  height: 42px;
  width: 95%;
  color: #bdc3c7;
  border: none;
}

.btn-resetar {
  background-color: #EE4D2D;
  color: #fff;
  border: none;
  height: 60px;
  width: 100%;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
  margin: 10px 0;
  border: none;
  background-color: #EE4D2D;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.button-border {
  background-color: transparent;
  border: 1px solid #EE4D2D;
  color: #EE4D2D;
}

.dashboard-navigation-button {
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EE4D2D;
  border-radius: none;
}
.dashboard-navigation-button svg {
  height: 22px;
  width: 22px;
  color: #fff;
  margin-right: 10px;
}
.dashboard-navigation-button p {
  font-size: 18px;
  color: #fff;
  padding: 0;
  margin: 0;
}

.dashboard-card-kpi {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.dashboard-card-kpi .dashboard-card-kpi-info {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.dashboard-card-kpi .dashboard-card-kpi-info h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  color: #113366;
}
.dashboard-card-kpi .dashboard-card-kpi-info p {
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
  color: #113366;
}
.dashboard-card-kpi .dashboard-card-kpi-icon {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10px;
  box-sizing: border-box;
}
.dashboard-card-kpi .dashboard-card-kpi-icon svg {
  height: 22px;
  width: 22px;
  color: #EE4D2D;
}

.dashboard-navigation-card {
  height: 60px;
  width: 100%;
  display: flex;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
}
.dashboard-navigation-card .dashboard-navigation-card-icon {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-navigation-card .dashboard-navigation-card-icon svg {
  height: 22px;
  width: 22px;
  color: #EE4D2D;
}
.dashboard-navigation-card .dashboard-navigation-card-title {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dashboard-navigation-card .dashboard-navigation-card-title p {
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
  color: #113366;
}
.dashboard-navigation-card .dashboard-navigation-card-button {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-navigation-card .dashboard-navigation-card-button svg {
  height: 22px;
  width: 22px;
  color: #EE4D2D;
}

.dashboard-form-card {
  height: 70px;
  width: 100%;
  display: flex;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
}
.dashboard-form-card .dashboard-form-icon {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-form-card .dashboard-form-icon svg {
  height: 22px;
  width: 22px;
  color: #EE4D2D;
}
.dashboard-form-card .dashboard-form-info {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.dashboard-form-card .dashboard-form-info label {
  padding-left: 5px;
  height: 40%;
  width: 100%;
  color: #113366;
  font-size: 16px;
}

.dashboard-form-card-button-send {
  height: 60px;
  width: 100%;
  background-color: #EE4D2D;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.dashboard-form-card-button-send svg {
  height: 22px;
  width: 22px;
  color: #fff;
  margin-right: 10px;
}
.dashboard-form-card-button-send p {
  font-size: 16px;
  color: #fff;
}

.dashboard-form-card-button-back {
  height: 60px;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EE4D2D;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.dashboard-form-card-button-back svg {
  height: 22px;
  width: 22px;
  color: #EE4D2D;
  margin-right: 10px;
}
.dashboard-form-card-button-back p {
  font-size: 16px;
  color: #EE4D2D;
}

.login-input {
  display: flex;
  flex: 1;
  border: none;
  font-size: 16px;
  padding-left: 5px;
  outline: none;
}

.dashboard-input {
  display: flex;
  height: 40%;
  width: 80%;
  font-size: 16px;
  border: 1px solid #EE4D2D;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  padding-left: 5px;
}/*# sourceMappingURL=main.css.map */