body {
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat";
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body p {
  padding: 0;
  margin: 0;
}

header {
  height: 30%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 5px 5px 0 0;
}
header .div-title-header {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid gray;
}
header .div-title-header h1 {
  font-size: 18px;
  margin: 5px 0;
  padding: 0;
  color: #EE4D2D;
}
header .div-title-header h4 {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #113366;
  font-weight: 400;
}
header .div-btn-header {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}
header .div-all-status {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid gray;
}
header .div-all-status .div-container-status {
  height: 70%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
}
header .div-all-status .div-container-status .div-image-status {
  height: 100%;
  width: 40%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .div-all-status .div-container-status .div-image-status img {
  height: 70%;
  width: 60%;
}
header .div-all-status .div-container-status .div-title-status {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
header .div-all-status .div-container-status .div-title-status p {
  font-size: 18px;
  color: #fafafa;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.green {
  background-color: #00b894;
}

.orange {
  background-color: #e17055;
}

.blue {
  background-color: #0984e3;
}

main {
  background-color: #fafafa;
  height: 80%;
  width: 95%;
  border-radius: 0 0 5px 5px;
  overflow-y: auto;
}
main .section-dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .section-dashboard .div-titulo-dashboard {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
main .section-dashboard .div-titulo-dashboard h4 {
  font-size: 14px;
  font-weight: 500;
  color: #113366;
  padding: 0;
  margin: 0;
}

.div-cabecalho-dashboard {
  background-color: #EE4D2D;
  color: #fafafa;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-overlay .div-modal-background {
  height: 70vh;
  width: 85vw;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.modal-overlay .div-modal-background .div-modal {
  background-color: #fafafa;
  height: 95%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-overlay .div-modal-background .div-modal .div-close {
  height: 5%;
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal-overlay .div-modal-background .div-modal .div-close img {
  fill: #113366;
}
.modal-overlay .div-modal-background .div-modal .div-title-form {
  height: 10%;
  width: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-overlay .div-modal-background .div-modal .div-title-form h3 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #EE4D2D;
  margin: 5px 0;
}
.modal-overlay .div-modal-background .div-modal .div-title-form h4 {
  padding: 0;
  margin: 0;
  font-size: 11px;
  color: #113366;
  font-weight: 500;
  margin-bottom: 5px;
}
.modal-overlay .div-modal-background .div-modal .form-new {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal-overlay .div-modal-background .div-modal .form-new .div-btn-enviar {
  height: 20%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.hidden {
  display: none;
}

.botao-principal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 44px;
  width: 280px;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: #EE4D2D;
  color: #fafafa;
}

.btn-enviar {
  background-color: #EE4D2D;
  height: 42px;
  width: 100%;
  color: #fafafa;
  border: none;
}

.line-table {
  height: 36px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-cell {
  height: 44px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-cell p {
  font-size: 11px;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.card-input {
  height: 18%;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 7px 0;
}
.card-input label {
  height: 25%;
  font-size: 11px;
  color: #113366;
  padding-left: 10px;
  font-weight: 600;
}

.input-geral {
  border: none;
  border: 1px solid #EE4D2D;
  height: 55%;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  outline: none;
}/*# sourceMappingURL=main.css.map */