@import './Components/Conteiner';
@import './Components/Form';
@import './Components/Input';



body {
    background-color: #EE4D2D;
  min-height: 100vh;
  font-family: 'Roboto';
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}