.section-container {
  height: 95vh;
  width: 90%;
  display: flex;
  justify-content: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  
  .div-titulo {

    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    h1 {
      color: #ee4d2d;
      margin: 0;
      padding: 0;
      font-size: 24px;
    }
    h4 {
      margin: 0;
      padding: 0;
      font-size: 12px;
      font-weight: 400;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 90%;
    width: 100%;
    overflow-y: auto;
  }
}



.section-dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(44px, auto);

  width: 100%;
  height: 90%;
  overflow-y: auto;

  gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;

     .div-main {
      height: 100%;
      width: 100%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      p {

        font-size: 12px;
        font-weight: 700;
      }
     }
     
}

