@use "../base/Variabels" as *;

main {  
  background-color: rgb(232, 230, 230);
  height: 80%;
  width: 95%;
  overflow-y: auto;
  border-top: 1px solid rgb(203, 203, 203);
  margin-top: 15px;
  padding-top: 15px;
  .dashboard {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

  }

