@use "../base/Variabels" as *;


.login-main {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.dashboard-kpi {  
  
  height: 25%;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px; 
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(163, 163, 163);
  }

.dashboard-navigation{

  
  width: 95%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.dashboard-section-form {
  height: 60%;
  width: 95%;
  display: none;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
  .dashboard-form {

    height: 80%;
    width: 100%;

  }
 
}
.dashboard-section-dock {
  height: 60%;
  width: 95%;
  display: none;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;

  .dashboard-dock {
        height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    box-sizing: border-box;
    padding: 5px;
    .dashboard-dock-card.expand .dashboard-dock-card-expand{
  display: flex;
}
  }
}
.dashboard-section-driver {
  height: 60%;
  width: 95%;
  display: none;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
  .dashboard-driver {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .dashboard-driver-profile {

      height: 80%;
      width: 100%;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      .dashboard-driver-profile-row {
        height: 25%;
        width: 100%;
        display: flex;
        padding: 10px;
        box-sizing: border-box;
        .dashboard-driver-profile-row-name {
          height: 100%;
          width: 50%;
          display: flex;
          align-items: flex-start;
          justify-content: space-evenly;
          flex-direction: column;
          padding-left: 10px;
          h5 {
            font-size: 16px;
            font-weight: 400;
            padding: 0;
            margin: 0;
            padding-left: 5px;
            color: $color-font;
          }
          p {
            width: 80%;
             font-size: 16px;
            font-weight: 400;
            padding: 7px;
            margin: 0;
            padding-left: 5px;
            color: $color-background;
            background-color: rgb(216, 216, 216);
            display: flex;
            justify-content: flex-end;

          }
        }
      }
       .dashboard-driver-profile-col {
          height: 25%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box; 
        justify-content: space-evenly;
        padding-left: 20px;
         h5 {
            font-size: 16px;
            font-weight: 400;
            padding: 0;
            margin: 0;
            padding-left: 5px;
            color: $color-font;
            padding-left: 5px;
          }
          p {
            width: 90%;
             font-size: 16px;
            font-weight: 400;
            padding: 7px;
            margin: 0;
            padding-left: 5px;
            color: $color-background;
            background-color: rgb(216, 216, 216);
            display: flex;
            justify-content: flex-end;
          }
       }
    }
  }
}
.dashboard-section-scale {
  height: 60%;
  width: 95%;
  display: none;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
  .dashboard-scale {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    box-sizing: border-box;
    padding: 5px;
  }
}
.dashboard-section-storage {

   height: 60%;
  width: 95%;
  display: none;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
  .dashboard-storage {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    box-sizing: border-box;
    padding: 5px;
  }
}

