@use "../base/Variabels" as *;


.login-main {
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

}
.dashboard-kpi {  
  
  height: 30%;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px; 
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(163, 163, 163);
  }
.dashboard-navigation{

  
  width: 95%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.dashboard-form {

 
  width: 95%;
  display: none;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;

}