@use "../base/Variabels" as *;


.login-main {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.dashboard-kpi {  
  
  height: 20%;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px; 
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(163, 163, 163);
  }

.dashboard-navigation{

  
  width: 95%;
  margin-top: 15px;
  display: none;
  flex-direction: column;
  gap: 15px;
}
.dashboard-section-form {
  height: 65%;
  width: 95%;
  display: none;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
  .dashboard-form {

    height: 80%;
    width: 100%;
  

  }
  .dashboard-card-back {
    height: 20%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;

  }
}
.dashboard-section-dock {
  height: 65%;
  width: 95%;
  display: none;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;

  .dashboard-dock {
    height: 100%;
    width: 100%;
  }
}
.dashboard-section-driver {
  height: 65%;
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
  .dashboard-driver {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .dashboard-driver-profile {

      height: 80%;
      width: 100%;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      
    }
  }
}

