@use "../base/Variabels" as *;

.dashboard-main {  
  background-color: rgb(232, 230, 230);
  height: 80%;
  width: 95%;
  overflow-y: auto;
  border-top: 1px solid rgb(203, 203, 203);
  margin-top: 15px;
  padding-top: 15px;
  .dashboard {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

  }
.login-main {
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

}
