@use "../base/Variabels" as *;

.dashboard-section {  
  
  height: 30%;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px; 
  
  }
.login-main {
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

}
.dashboard-navigation{

  height: 55%;
  width: 95%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}