@use "../base/Variabels" as *;

.login-form {

    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    
    
    label {
        display: flex;
        align-items: center;
        padding-left: 5px;
        height: 10%;
        font-size: 16px;
        color: $color-font;
        margin-top: 10px;
    }
    .login-div-input {
        display: flex;
        align-items: center;
        width: 100%;
        height: 55px;
        box-sizing: border-box;
        display: flex;
        border: 1px solid rgb(149, 149, 149);
        border-radius: 5px;
        margin-bottom: 10px;
        svg {
            height: 28px;
            width: 50px;
            color: $color-background;
        }
    }
    p {
        color: #0984e3;
        text-align: right;
        padding: 0;
        margin: 5px;
    }

}