@use "../base/Variabels" as *;

.dashboard-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 5px;
  box-sizing: border-box;
  gap: 5px;
  height: 25dvh;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    background-color: rgb(232, 230, 230);

     .div-header-package {

      flex:1;
      height: 50%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      .div-header-package-icon {

        height: 100%;
        width: 50px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {

          height: 28px;
          width: 28px;
          color: $color-font;
          
        }
        
      }
      .div-header-package-info{

        height: 100%;
        flex: 1;
        display: flex;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        
        p {
          font-size: 16px;
          color: $color-font;
          margin: 0;
          padding: 0;
          font-weight: 400;
        }
        h3 {
          font-size: 20px;
          color: $color-background;
          margin: 0;
          padding: 0;
          font-weight: 700;
        }
      }
     }
     .div-header-doc-lost {
      flex: 1;
      height: 50%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      .div-header-container-lost {
        height: 100%;
        width: 60%;
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        .div-header-icon-doc-lost {
          width: 50px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
           svg {

          height: 28px;
          width: 28px;
          color: $color-font;
        }
        }
        .div-header-doc-lost-info {
        height: 100%;
        flex: 1;
        display: flex;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
  
        p {
          font-size: 16px;
          color: $color-font;
          margin: 0;
          padding: 0;
          font-weight: 400;
        }
        h3 {
          font-size: 18px;
          color: $color-background;
          margin: 0;
          padding: 0;
          font-weight: 700;
        }

        }
      }
      .div-header-container-doc {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        .div-header-icon-doc-lost {
          width: 50px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
           svg {

          height: 28px;
          width: 28px;
          color: $color-font;
        }
        }
        .div-header-doc-lost-info {
        height: 100%;
        flex: 1;
        display: flex;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
  
        p {
          font-size: 16px;
          color: $color-font;
          margin: 0;
          padding: 0;
          font-weight: 400;
        }
        h3 {
          font-size: 18px;
          color: $color-background;
          margin: 0;
          padding: 0;
          font-weight: 700;
        }

        }
      }
     }
     

      .div-header-button {
        flex: 1;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }



}

.login-header {

  height: 20%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid #afafaf;
    img {
      height: 90px;
      width: 180px;
      padding: 0;
      margin-bottom: 10px;
    }
    h1 {
      font-size: 24px;
      padding: 0;
      margin: 0;
      text-align: center;
      color: $color-background;
      font-weight: 400;
    }
    p {
      text-align:center;
      font-size: 16px;
      color: $color-font;
      padding: 0;
      margin: 0;
    }

}