@use "../base/Variabels" as *;

header {
  height: 30%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  .div-btn-header {
    height: 30%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div-all-status {

    height: 50%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;


     .div-container-status {

      height: 45%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .div-image-status {

        height: 100%;
        width: 44px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {

          height: 22px;
          width: 22px;
          color: $color-white;
          
        }
        
      }
      .div-title-status{

         height: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
  
        p {
          font-size: 10px;
          color: $color-white;
          margin: 0;
          padding: 0;
          font-weight: 400;
        }
        h3 {
          font-size: 14px;
          color: $color-white;
          margin: 0;
          padding: 0;
          font-weight: 400;
        }
      }
     }
     .div-status-doca-ausente {
      height: 45%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .div-container-doca-ausente {
        height: 100%;
        width: 49.5%;
        display: flex;
        align-items: center;
        .div-image-status-doca-ausente {
          width: 44px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
           svg {

          height: 22px;
          width: 22px;
          color: $color-white;
        }
        }
        .div-status-info {
          width: auto;
          height: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
             p {
          font-size: 10px;
          color: $color-white;
          margin: 0;
          padding: 0;
          font-weight: 400;
        }
        h3 {
          font-size: 14px;
          color: $color-white;
          margin: 0;
          padding: 0;
          font-weight: 400;
        }

        }
      }
     }
}

.green {

 background-color: #00b894;

}

.orange {

  background-color: #e17055;
}

.blue {

    background-color: #0984e3;
}
}