@use "../base/Variabels" as *;

.dashboard-header {

  height: 5%;
  width: 95%;
  margin: 15px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  
    p
    {
      padding-left: 15px;
      margin: 0;
      font-size: 16px;
      color: $color-font;
    }
    svg {
      padding-right: 15px;
      height: 22px;
      width: 22px;
      color: $color-background;
    }


}

.login-header {

  height: 20%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid #afafaf;
    img {
      height: 90px;
      width: 180px;
      padding: 0;
      margin-bottom: 10px;
    }
    h1 {
      font-size: 24px;
      padding: 0;
      margin: 0;
      text-align: center;
      color: $color-background;
      font-weight: 400;
    }
    p {
      text-align:center;
      font-size: 16px;
      color: $color-font;
      padding: 0;
      margin: 0;
    }

}