@use "../base/Variabels" as *;

header {
  height: 30%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $color-surface;
  border-radius: 5px 5px 0 0;
  .div-title-header {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid gray;
    h1 {
      font-size: 18px;
      margin: 5px 0;
      padding: 0;
      color: $color-background;
    }
    h4 {
      font-size: 12px;
      margin: 0;
      padding: 0;
      color: $color-font;
      font-weight: 400;
    }
  }
  .div-btn-header {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     border-bottom: 1px solid gray;
  }
  .div-all-status {

    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
     border-bottom: 1px solid gray;

     .div-container-status {

      height: 70%;
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 2px;
      .div-image-status {

        height: 100%;
        width: 40%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 70%;
          width: 60%;
        }
      }
      .div-title-status{

         height: 100%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
  
        p {
          font-size: 18px;
          color: $color-surface;
          margin: 0;
          padding: 0;
          font-weight: 500;
        }
      }
     }
  }
}

.green {

 background-color: #00b894;

}

.orange {

  background-color: #e17055;
}

.blue {

    background-color: #0984e3;
}