@use "../base/Variabels" as *;

header {
    position: sticky;
     top: 0;
       z-index: 1000;
  padding: 15px;
  box-sizing: border-box;
  gap: 5px;
  height: 45%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

     .div-container-status {

      flex:1;
      height: 50%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .div-image-status {

        height: 100%;
        width: 60px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {

          height: 28px;
          width: 28px;
          color: $color-white;
          
        }
        
      }
      .div-title-status{

        height: 100%;
        flex: 1;
        display: flex;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
  
        p {
          font-size: 16px;
          color: $color-white;
          margin: 0;
          padding: 0;
          font-weight: 400;
        }
        h3 {
          font-size: 18px;
          color: $color-white;
          margin: 0;
          padding: 0;
          font-weight: 700;
        }
      }
     }
     .div-status-doca-ausente {
      flex: 1;
      height: 50%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      .div-container-doca-ausente {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        .div-image-status-doca-ausente {
          width: 60px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
           svg {

          height: 28px;
          width: 28px;
          color: $color-white;
        }
        }
        .div-status-info {
        height: 100%;
        flex: 1;
        display: flex;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
  
        p {
          font-size: 16px;
          color: $color-white;
          margin: 0;
          padding: 0;
          font-weight: 400;
        }
        h3 {
          font-size: 18px;
          color: $color-white;
          margin: 0;
          padding: 0;
          font-weight: 700;
        }

        }
      }
     }
      .div-btn-header {
        flex: 1;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.green {

 background-color: #00b894;

}

.orange {

  background-color: #e17055;
}

.blue {

    background-color: #0984e3;
}
}