@use "../base/Variabels" as *;
.modal-overlay {
    
  position: fixed;
  inset: 0; // ocupa 100% da viewport
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;


.div-modal-background {
  height: 70vh;
  width: 85vw;
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;


  .div-modal {
    background-color: $color-white;
    height: 95%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .div-close {
      height: 5%;
      width: 100%;
      padding-right: 10px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      img {
        fill: $color-font;
      }
    }
    .div-title-form {
      height: 10%;
      width: 70%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h3 {
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: $color-background;
       
        margin: 5px 0;
      }
      h4 {
        padding: 0;
        margin: 0;
        font-size: 11px;
        color: $color-font;
        font-weight: 500;
        margin-bottom: 5px;
      }
    }
    .form-new {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      .div-btn-enviar {
        height: 20%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
      }
    }
  }
}
}

.hidden {

    display: none;
    
}
.show {

  display: flex !important;
}
.expand {

    height: 120px !important;

}