@use "../base/Variabels" as *;  

.botao-principal {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: $color-background;
    color: $color-white;

    svg {  
        height: 22px;
        width: 22px;
        margin-right: 10px;
    }   
    }

.btn-enviar {

    background-color: $color-background;
    height: 42px;
    width: 100%;
    color: $color-surface;
    border: none;

}

.div-dashboard-btn-resetar {

     background-color: $color-background;
    height: 42px;
    width: 95%;
    color: $color-surface;
    border: none;
}
.btn-resetar {

    background-color: $color-background;
   
    color: $color-white;
    border: none;
    height: 100%;
    width: 100%;
}
