@use "../base/Variabels" as *;  

.botao-principal {

    height: 44px;
    width: 280px;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: $color-background;
    color: $color-surface;
}