@use "../base/Variabels" as *;  

.botao-principal {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: $color-background;
    color: $color-white;

    svg {  
        height: 22px;
        width: 22px;
        margin-right: 10px;
    }   
    }

.btn-enviar {

    background-color: $color-background;
    height: 42px;
    width: 100%;
    color: $color-white;
    border: none;

}

.div-dashboard-btn-resetar {

     background-color: $color-background;
    height: 42px;
    width: 95%;
    color: $color-surface;
    border: none;
}
.btn-resetar {

    background-color: $color-background;
   
    color: $color-white;
    border: none;
    height: 60px;
    width: 100%;
}
.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    margin: 10px 0;
    border: none;
    background-color: $color-background;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.button-border {

    background-color: transparent;
    border: 1px solid $color-background;
    color: $color-background;
}

.dashboard-navigation-button {
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $color-background;
    border-radius: none;
    svg {   
        height: 22px;
        width: 22px;
        color: #fff;
        margin-right: 10px;
    }
    p {
        font-size: 18px;
        color: #fff;
        padding: 0;
        margin: 0;
    };
}

.button-back {

    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid $color-background;
    box-sizing: border-box;
    svg {   
        height: 22px;
        width: 22px;
        color: $color-background;
        margin-right: 10px;
    }
    p {
        font-size: 18px;
 color: $color-background;
        padding: 0;
        margin: 0;
    };
}
.dashboard-driver-button {

    height: 70%;
    width: 80%;
    border-radius: 5px;
    background-color: $color-background;
    align-items: center;
    justify-content: center;
    display: flex;
    p {
        font-size: 16px;
        color: #fff;
        padding: 0;
        margin: 0;

    }
}