@use "../base/Variabels" as *;


.dashboard-card-kpi {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
     .dashboard-card-kpi-info {
      height: 100%;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      box-sizing: border-box;
      h1 {
        font-size: 30px;
        margin: 0;
        padding: 0;
        color: $color-font;
      }
      p {

        margin: 0;
        padding-left: 10px;
        font-size: 16px;
        color: $color-font;
      }
     }
      .dashboard-card-kpi-icon {
        height: 100%;
      width: 30%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-top: 10px;
        box-sizing: border-box;
      svg {
        height: 22px;
        width: 22px;
        color: $color-background;
      }
      }

  }

.dashboard-navigation-card {

    height: 60px;
    width: 100%;
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px ;
    .dashboard-navigation-card-icon {
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg
        {
            height: 22px;
            width: 22px;
            color: $color-background;
        }
    }
     .dashboard-navigation-card-title {

        height: 100%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        p {

        margin: 0;
        padding-left: 10px;
        font-size: 16px;
        color: $color-font;
        }
     }
     .dashboard-navigation-card-button {
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            height: 22px;
            width: 22px;
            color: $color-background;
        }
     }
}
.dashboard-form-card {
  height: 70px;
    width: 100%;
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px ;
    .dashboard-form-icon{

      height: 100%;
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        height: 22px;
        width: 22px;
        color: $color-background;
      }
    }
    .dashboard-form-info{
      height: 100%;
      width: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      label {
        padding-left: 5px;
        height: 40%;
        width: 100%;
        color: $color-font;
        font-size: 16px;
      }
    }
}

.dashboard-form-card-button-send {

  height: 60px;
  width: 100%;
  background-color: $color-background;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  svg {
    height: 22px;
    width: 22px;
    color: #fff;
    margin-right: 10px;
  }
    p {
      font-size: 16px;
      color:#fff
    }
  }
  .dashboard-form-card-button-back {

  height: 60px;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-background;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  svg {
    height: 22px;
    width: 22px;
    color: $color-background;
    margin-right: 10px;
  }
    p {
      font-size: 16px;
      color: $color-background;
    }
  }