@use "../base/Variabels" as *;

//Código CARD Dashboard
.dashboard-card-kpi {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
     .dashboard-card-kpi-info {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0 20px;
      h1 {
        font-size: 30px;
        margin: 0;
        padding: 0;
        color: $color-font;
      }
      svg {
        height: 22px;
        width: 22px;
        color: $color-background;
        
      }
      
     }
      .dashboard-card-kpi-icon {
        height: 50%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: 10px;
      box-sizing: border-box;
      p {

        margin: 0;
        padding-left: 10px;
        font-size: 16px;
        color: $color-font;
      }
      }

  }

.dashboard-navigation-card {

    height: 60px;
    width: 100%;
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px ;
    .dashboard-navigation-card-icon {
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg
        {
            height: 22px;
            width: 22px;
            color: $color-background;
        }
    }
     .dashboard-navigation-card-title {

        height: 100%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        p {

        margin: 0;
        padding-left: 10px;
        font-size: 16px;
        color: $color-font;
        }
     }
     .dashboard-navigation-card-button {
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            height: 22px;
            width: 22px;
            color: $color-background;
        }
     }
}
.dashboard-form-card {
   height: 70px;
    width: 100%;
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px ;
    margin-bottom: 15px;
    .dashboard-form-icon{

      height: 100%;
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        height: 22px;
        width: 22px;
        color: $color-background;
      }
    }
    .dashboard-form-info{
      height: 100%;
      width: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      label {
        padding-left: 5px;
        height: 40%;
        width: 100%;
        color: $color-font;
        font-size: 16px;
      }
    }
}
.dashboard-form-card-button-send {

  height: 60px;
  width: 100%;
  background-color: $color-background;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  svg {
    height: 22px;
    width: 22px;
    color: #fff;
    margin-right: 10px;
  }
    p {
      font-size: 16px;
      color:#fff
    }
  }
  //Códgio CARD Docas

  .dashboard-dock-card {

    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  .dashboard-dock-card-close{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    .dashboard-dock-card-icon {
      height: 100%;
      width: 44px;

      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        color: $color-font;
        height: 30px;
        width: 30px;
      }
    }
    .dashboard-dock-card-icon-title{
      height: 100%;
      width: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h4 {
          font-size: 16px;
        padding: 0;
        margin: 0;
        font-weight: 500;
        color: $color-font;
      }
      p {
        font-size: 16px;
        padding: 0;
        margin: 0;
        font-weight: 500;
        color: $color-background;
      }
    }
    .dashboard-dock-card-type{
      height: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 16px;
        color: $color-font;
        font-style: italic;
      }
    }
    .dashboard-dock-card-info {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      p {
        font-size: 22px;
        font-weight: 700;
        color: $color-font;
      }
    }
  }
  .dashboard-dock-card-expand {
     height: 60px;
    width: 100%;
    display: none;
    flex-direction: row;
   
    .dashboard-dock-card-expand-employer {

      height: 100%;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h4 {
        padding: 0;
        margin: 0;
        font-size: 16px;
         font-weight: 400;
        color: $color-font;

      }

      p {
        padding: 3px;
        margin:0;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid $color-background;
        color: $color-font;
      }
    }
    .dashboard-dock-card-expand-info {

      height: 100%;
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .dashboard-dock-card-expand-info-title {

        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        h4 {

          margin: 0;
          padding: 0;
          font-size: 16px;
          font-weight: 400;
          color: $color-font;
          width: 140px;
        }
        p {
          margin: 0;
          padding: 0;
          font-size: 16px;
          font-weight: 400;
          color: $color-background;
          font-style: italic;
        }
      }
    }
  }
    
  }