@use "../base/Variabels" as *;

.card-cell{

    height: 44px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 11px;
        padding: 0;
        margin: 0;
        font-weight: 500;
    }
}

.card-input {

    height: 18%;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 7px 0;


    label
    {
        height: 25%;
        font-size: 11px;
        color: $color-font;
        padding-left: 10px;
         font-weight: 600;
    }

}