@use "../base/Variabels" as *;


.card-input {

    height: 18%;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 7px 0;


    label
    {
        height: 25%;
        font-size: 16px;
        color: $color-font;
        padding-left: 10px;
         font-weight: 600;
    }

}

.dashboard-card {

    height: 75px;
    width: 95%;
    background-color: #fff;  
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    box-sizing: border-box;
    .dashboard-card-container-info{
        height: 75px;
        width: 100%;
        display: flex;
    
        .dashboard-card-doca {
            height: 100%;
            width: 100px ;
            display: flex;
            .dashboard-card-doca-icone {

                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 60%;
                svg {

                    height: 70%;
                    width: 70%;
                    color: $color-font;
                }

            }
            .dashboard-card-doca-title-info{

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;
                width: 40%;
            
                .dashboard-card-doca-title{


                    height: 35%;
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    p {
                        padding: 0;
                        margin: 0;
                        color: $color-font;
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
                .dashboard-card-doca-info {
                    height: 45%;
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;

                    h5 {
                        padding: 0;
                        margin: 0;
                        color: $color-background;
                        font-weight: 700;
                        font-size: 22px;
                    }
                }
        }
        
        }
        .dashboard-card-info{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .dashboard-card-info-container {
                height: 48%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content:flex-start;
                box-sizing: border-box;

                svg {
                    color: $color-font;
                    height: 18px;
                    width: 18px;
                    box-sizing: border-box;
                    margin: 0 10px;
                    
                }
                p
                {
                    font-size: 16px;
                    padding: 0;
                    margin: 0;
                    color: $color-font;
                    width: 44px;
                    text-align: center;
                    margin-right: 10px;
                }
                h5{
                    padding: 0;
                    margin: 0;           
                    font-size: 16px;
                    text-align: center;
                    color: $color-font;
                    width: 70px;
                    font-weight: 400;
                }
            }
        }
        .dashboard-card-eficiencia {

            height: 100%;
            width: 60%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            color: $color-font;
                            box-sizing: border-box; 

            
            p {

                color: $color-font;
                font-weight: 700;
                font-size: 22px;
                padding: 0;
                margin: 0;
                box-sizing: border-box; 
            }
        }
        .dashboard-card-button-expand {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 15%;
            svg {

                height: 22px;
                width: 22px;
                color: $color-background;
            
            }
        }
    }
    .dashboard-card-container-expand {
        height: 75px;
        width: 100%;
        display: none;
        border-top: 1px solid rgb(203, 203, 203);
        .dashboard-card-expand-employee{
            height: 100%;
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
           
            h5 {

                font-size: 16px;   
                font-weight: 400;
                color: $color-font; 
                height: 22px;
                width: 80%;
                padding: 0;
                margin: 0;
                margin-left: 20px;
                box-sizing: border-box;

            }
             p {
                font-size: 16px;
                padding: 5px 25px;
                margin-left: 20px;
                color: $color-background;
                margin-bottom: 3px;
                border: 1px solid $color-background;
            }
        }
        .dashboard-card-expand-package{
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .dashboard-card-expand-info{

                height: 40%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                

                 h5 {
                font-size: 16px;
                padding: 0;
                margin: 0;
                color: $color-font;
                font-weight: 400;
                width: 70%;
                margin-left: 10px;
            }
            p {

                font-size: 16px;
                width: 80%;
                padding: 0;
                margin: 0;
                text-align: center;
                color: $color-background;
                width: 20%;
                margin-left: 10px;
            }

            }
           
        }
    }
}   

.dashboard-card-kpi {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
     .dashboard-card-kpi-info {
      height: 100%;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      box-sizing: border-box;
      h1 {
        font-size: 30px;
        margin: 0;
        padding: 0;
        color: $color-font;
      }
      p {

        margin: 0;
        padding-left: 10px;
        font-size: 16px;
        color: $color-font;
      }
     }
      .dashboard-card-kpi-icon {
        height: 100%;
      width: 30%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-top: 10px;
        box-sizing: border-box;
      svg {
        height: 22px;
        width: 22px;
        color: $color-background;
      }
      }

  }

.dashboard-navigation-card {

    height: 60px;
    width: 100%;
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px ;
    .dashboard-navigation-card-icon {
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg
        {
            height: 22px;
            width: 22px;
            color: $color-background;
        }
    }
     .dashboard-navigation-card-title {

        height: 100%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        p {

        margin: 0;
        padding-left: 10px;
        font-size: 16px;
        color: $color-font;
        }
     }
     .dashboard-navigation-card-button {
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            height: 22px;
            width: 22px;
            color: $color-background;
        }
     }
}