.card-cell{

    height: 44px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 11px;
        padding: 0;
        margin: 0;
        font-weight: 500;
    }
}