@use "../base/Variabels" as *;


.card-input {

    height: 18%;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 7px 0;


    label
    {
        height: 25%;
        font-size: 11px;
        color: $color-font;
        padding-left: 10px;
         font-weight: 600;
    }

}

.dashboard-card {

    height: 44px;
    width: 95%;
    background-color: #fff;  
    display: flex;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    box-sizing: border-box;
    .dashboard-card-doca {
        height: 100%;
        width: 20% ;
        display: flex;
        background-color: #0984E3;
         .dashboard-card-doca-icone {

            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 60%;
            svg {

                height: 70%;
                width: 70%;
                color: white;
            }

        }
        .dashboard-card-doca-title-info{

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 30%;
           
            .dashboard-card-doca-title{


                height: 30%;
                width: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                p {
                    padding: 0;
                    margin: 0;
                    color: $color-white;
                    font-weight: 700;
                    font-size: 9px;
                }
            }
            .dashboard-card-doca-info {
                height: 50%;
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;

                h5 {
                    padding: 0;
                    margin: 0;
                    color: $color-white;
                    font-weight: 700;
                    font-size: 18px;
                }
            }
    }
    .dashboard-card-info {

        height: 100%;
        width: 70%;
        background-color: blue;
       
    }
    .dashboard-card-eficiencia {

        height: 100%;
        width:25%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 26px;
            padding: 0;
            margin: 0;
            color: $color-font;
        }
    }
}
    .dashboard-card-info{
        width: 55%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .dashboard-card-info-container {
            height: 40%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content:center;
             box-sizing: border-box;

            svg {
                color: $color-font;
                  height: 13px;
                   width: 20px;
                box-sizing: border-box;
                
            }
            p
            {
                font-size: 11px;
                padding: 0;
                margin: 0;
                color: $color-font;
                 width: 44px;
                 text-align: center;
            }
            h5{
                padding: 0;
                margin: 0;           
                font-size: 9px;
                text-align: center;
                color: $color-font;
                width: 70px;
            }
        }
    }
    .dashboard-card-eficiencia {

        height: 100%;

        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $color-font;
        
        p {

            color: $color-font;
            font-weight: 700;
            font-size: 20px;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
    }
}