@use "../base/Variabels" as *;

.dashboard-input {

  display: flex;
  height: 40%;
  width: 80%;
  font-size: 16px;
  border: 1px solid $color-background;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;  
  padding-left: 5px;
}

