@use "../base/Variabels" as *;


.input-geral {

    border: none;
    border: 1px solid $color-background;
    height: 55%;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
   
}

