@use "../base/Variabels" as *;


.input-geral {

    box-sizing: border-box;
    outline: none;

   
      width: 100%;
  height: 44px;              /* altura confortável iOS */
  font-size: 16px;           /* evita auto-zoom */
  border-radius: 2px;
  padding: 0 44px 0 14px;    /* espaço pra seta */
  border: 1px solid $color-background;
  background: #fff;
  -webkit-appearance: none;
  appearance: none;
}

.login-input {

  display: flex;
  flex: 1;
  height: 100%;
  width: 80%;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;  
}

