@use "./Variabels" as *;


.dashboard-body {

    height: 100vh;
    width: 100vw;
    font-family: 'Roboto';
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.login-body {

    height: 100vh;
    width:  100vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto';
    gap: 30px;
}