@use "./Variabels" as *;


.dashboard-body {

    min-height: 100dvh;
    width: 100%;
    font-family: 'Roboto';
    background-color: rgb(232, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    p{
        padding: 0;
        margin: 0;
    }
}

.login-body {

    height: 100vh;
    width:  100vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto';
}