@use "./Variabels" as *;


body {

    height: 100vh;
    width: 100vw;
    font-family: "Montserrat";
    background-color: $color-background;
    overflow: hidden;


    p{
        padding: 0;
        margin: 0;
    }
}