@use "./Variabels" as *;


body {

    min-height: 100dvh;
    width: 100%;
    font-family: 'Roboto';
    background-color: rgb(232, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    p{
        padding: 0;
        margin: 0;
    }
}