@use "./Variabels" as *;


body {

    height: 100vh;
    width: 100vw;
    font-family: 'Roboto';
    background-color: rgb(232, 230, 230);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        padding: 0;
        margin: 0;
    }
}