@use "./Variabels" as *;


body {

    height: 100vh;
    width: 100vw;
    font-family: "Montserrat";
    background-color: $color-background;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        padding: 0;
        margin: 0;
    }
}