// Cores Base

$color-background: #EE4D2D;
$color-surface: #bdc3c7;
$color-font: #113366;
$color-success: #2ecc71;
$color-error: #e5533d;
$color-warning: #f2c94c;
$color-white: #fff;


// Cores alerta para performance

$color-great: #00b894;
$color-attention: #fdcb6e;
$color-bad:#d63031;

/*.hidden {

    display: none;
}

.show {

    display: flex;
}*/